In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://appdev@data/appdev

## Tables and columns in the chinook schema

In [ ]:
%sql SELECT * from information_schema.tables WHERE table_schema = 'chinook';

In [ ]:
%sql SELECT * from information_schema.columns WHERE table_schema = 'chinook';

## The union of all the tracks with genreid 18 and 20

The query below gives us the union of all tracks with genreid 18 and 20. It would be the same to query for all tracks where id is 18 OR 20. I have ordered by trackid for readability.

In [170]:
%%sql 
(SELECT * FROM chinook.track WHERE genreid = 18) 
union 
(SELECT * FROM chinook.track WHERE genreid = 20) ORDER BY trackid

39 rows affected.

[(2819, 'Battlestar Galactica: The Story So Far', 226, 3, 18, None, 2622250, 490750393, Decimal('1.99')),
 (2825, 'A Measure of Salvation', 227, 3, 18, None, 2563938, 489715554, Decimal('1.99')),
 (2826, 'Hero', 227, 3, 18, None, 2713755, 506896959, Decimal('1.99')),
 (2827, 'Unfinished Business', 227, 3, 18, None, 2622038, 528499160, Decimal('1.99')),
 (2828, 'The Passage', 227, 3, 18, None, 2623875, 490375760, Decimal('1.99')),
 (2829, 'The Eye of Jupiter', 227, 3, 18, None, 2618750, 517909587, Decimal('1.99')),
 (2830, 'Rapture', 227, 3, 18, None, 2624541, 508406153, Decimal('1.99')),
 (2831, 'Taking a Break from All Your Worries', 227, 3, 18, None, 2624207, 492700163, Decimal('1.99')),
 (2832, 'The Woman King', 227, 3, 18, None, 2626376, 552893447, Decimal('1.99')),
 (2833, 'A Day In the Life', 227, 3, 18, None, 2620245, 462818231, Decimal('1.99')),
 (2834, 'Dirty Hands', 227, 3, 18, None, 2627961, 537648614, Decimal('1.99')),
 (2835, 'Maelstrom', 227, 3, 18, None, 2622372, 514154275, Decimal('1.99')),
 (2836, 'The Son Also Rises', 227, 3, 18, None, 2621830, 499258498, Decimal('1.99')),
 (2837, 'Crossroads, Pt. 1', 227, 3, 20, None, 2622622, 486233524, Decimal('1.99')),
 (2838, 'Crossroads, Pt. 2', 227, 3, 20, None, 2869953, 497335706, Decimal('1.99')),
 (3226, 'Battlestar Galactica, Pt. 1', 253, 3, 20, None, 2952702, 541359437, Decimal('1.99')),
 (3227, 'Battlestar Galactica, Pt. 2', 253, 3, 20, None, 2956081, 521387924, Decimal('1.99')),
 (3228, 'Battlestar Galactica, Pt. 3', 253, 3, 20, None, 2927802, 554509033, Decimal('1.99')),
 (3229, 'Lost Planet of the Gods, Pt. 1', 253, 3, 20, None, 2922547, 537812711, Decimal('1.99')),
 (3230, 'Lost Planet of the Gods, Pt. 2', 253, 3, 20, None, 2914664, 534343985, Decimal('1.99')),
 (3231, 'The Lost Warrior', 253, 3, 20, None, 2920045, 558872190, Decimal('1.99')),
 (3232, 'The Long Patrol', 253, 3, 20, None, 2925008, 513122217, Decimal('1.99')),
 (3233, 'The Gun On Ice Planet Zero, Pt. 1', 253, 3, 20, None, 2907615, 540980196, Decimal('1.99')),
 (3234, 'The Gun On Ice Planet Zero, Pt. 2', 253, 3, 20, None, 2924341, 546542281, Decimal('1.99')),
 (3235, 'The Magnificent Warriors', 253, 3, 20, None, 2924716, 570152232, Decimal('1.99')),
 (3236, 'The Young Lords', 253, 3, 20, None, 2863571, 587051735, Decimal('1.99')),
 (3237, 'The Living Legend, Pt. 1', 253, 3, 20, None, 2924507, 503641007, Decimal('1.99')),
 (3238, 'The Living Legend, Pt. 2', 253, 3, 20, None, 2923298, 515632754, Decimal('1.99')),
 (3239, 'Fire In Space', 253, 3, 20, None, 2926593, 536784757, Decimal('1.99')),
 (3240, 'War of the Gods, Pt. 1', 253, 3, 20, None, 2922630, 505761343, Decimal('1.99')),
 (3241, 'War of the Gods, Pt. 2', 253, 3, 20, None, 2923381, 487899692, Decimal('1.99')),
 (3242, 'The Man With Nine Lives', 253, 3, 20, None, 2956998, 577829804, Decimal('1.99')),
 (3243, 'Murder On the Rising Star', 253, 3, 20, None, 2935894, 551759986, Decimal('1.99')),
 (3244, 'Greetings from Earth, Pt. 1', 253, 3, 20, None, 2960293, 536824558, Decimal('1.99')),
 (3245, 'Greetings from Earth, Pt. 2', 253, 3, 20, None, 2903778, 527842860, Decimal('1.99')),
 (3246, "Baltar's Escape", 253, 3, 20, None, 2922088, 525564224, Decimal('1.99')),
 (3247, 'Experiment In Terra', 253, 3, 20, None, 2923548, 547982556, Decimal('1.99')),
 (3248, 'Take the Celestra', 253, 3, 20, None, 2927677, 512381289, Decimal('1.99')),
 (3249, 'The Hand of God', 253, 3, 20, None, 2924007, 536583079, Decimal('1.99'))]

## The intersection of all the invoices that are cheaper than 10 dollars and the invoices that are more expensive than 5 dollars

The query below gives us all invoices where the total is higher than 5 or lower than 10. It would be the same query for all invoices where total is higher than 5 AND lower than 10. I have ordered by total for readablility.

In [171]:
%%sql 
(SELECT * FROM chinook.invoice WHERE total < 10) 
INTERSECT 
(SELECT * FROM chinook.invoice WHERE total > 5) 
ORDER BY total

115 rows affected.

[(129, 43, datetime.datetime(2010, 7, 15, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '68, Rue Jouvence', 'Dijon', None, 'France', '21000', Decimal('5.94')),
 (346, 41, datetime.datetime(2013, 3, 2, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '11, Place Bellecour', 'Lyon', None, 'France', '69002', Decimal('5.94')),
 (94, 30, datetime.datetime(2010, 2, 10, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', Decimal('5.94')),
 (220, 6, datetime.datetime(2011, 8, 22, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', Decimal('5.94')),
 (353, 20, datetime.datetime(2013, 4, 2, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', Decimal('5.94')),
 (66, 55, datetime.datetime(2009, 10, 9, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', Decimal('5.94')),
 (290, 32, datetime.datetime(2012, 6, 27, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', Decimal('5.94')),
 (388, 33, datetime.datetime(2013, 9, 4, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', Decimal('5.94')),
 (171, 35, datetime.datetime(2011, 1, 17, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', None, 'Portugal', None, Decimal('5.94')),
 (255, 19, datetime.datetime(2012, 1, 24, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', Decimal('5.94')),
 (339, 3, datetime.datetime(2013, 1, 30, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', Decimal('5.94')),
 (24, 4, datetime.datetime(2009, 4, 6, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', Decimal('5.94')),
 (374, 16, datetime.datetime(2013, 7, 4, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', Decimal('5.94')),
 (143, 1, datetime.datetime(2010, 9, 15, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', Decimal('5.94')),
 (10, 46, datetime.datetime(2009, 2, 3, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, Decimal('5.94')),
 (80, 13, datetime.datetime(2009, 12, 10, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', Decimal('5.94')),
 (360, 58, datetime.datetime(2013, 5, 3, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '12,Community Centre', 'Delhi', None, 'India', '110017', Decimal('5.94')),
 (31, 42, datetime.datetime(2009, 5, 7, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '9, Place Louis Barthou', 'Bordeaux', None, 'France', '33000', Decimal('5.94')),
 (325, 45, datetime.datetime(2012, 11, 29, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Erzsébet krt. 58.', 'Budapest', None, 'Hungary', 'H-1073', Decimal('5.94')),
 (276, 15, datetime.datetime(2012, 4, 26, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', Decimal('5.94')),
 (332, 24, datetime.datetime(2012, 12, 30, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', Decimal('5.94')),
 (115, 26, datetime.datetime(2010, 5, 14, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', Decimal('5.94')),
 (402, 50, datetime.datetime(2013, 11, 5, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'C/ San Bernardo 85', 'Madrid', None, 'Spain', '28015', Decimal('5.94')),
 (262, 57, datetime.datetime(2012, 2, 24, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Calle Lira, 198', 'Santiago', None, 'Chile', None, Decimal('5.94')),
 (45, 59, datetime.datetime(2009, 7, 8, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '3,Raj Bhavan Road', 'Bangalore', None, 'India', '560001', Decimal('5.94')),
 (283, 53, datetime.datetime(2012, 5, 27, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '113 Lupus St', 'London', None, 'United Kingdom', 'SW1V 3EN', Decimal('5.94')),
 (185, 52, datetime.datetime(2011, 3, 20, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '202 Hoxton Street', 'London', None, 'United Kingdom', 'N1 5LH', Decimal('5.94')),
 (318, 7, datetime.datetime(2012, 10, 29, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', Decimal('5.94')),
 (136, 22, datetime.datetime(2010, 8, 15, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', Decimal('5.94')),
 (269, 36, datetime.datetime(2012, 3, 26, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Tauentzienstraße 8', 'Berlin', None, 'Germany', '10789', Decimal('5.94')),
 (52, 38, datetime.datetime(2009, 8, 8, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Barbarossastraße 19', 'Berlin', None, 'Germany', '10779', Decimal('5.94')),
 (409, 29, datetime.datetime(2013, 12, 6, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '796 Dundas Street West', 'Toronto', 'ON', 'Canada', 'M6J 1V1', Decimal('5.94')),
 (73, 34, datetime.datetime(2009, 11, 9, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Rua da Assunção 53', 'Lisbon', None, 'Portugal', None, Decimal('5.94')),
 (213, 27, datetime.datetime(2011, 7, 22, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', Decimal('5.94')),
 (241, 2, datetime.datetime(2011, 11, 23, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', Decimal('5.94')),
 (101, 9, datetime.datetime(2010, 3, 13, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', Decimal('5.94')),
 (192, 31, datetime.datetime(2011, 4, 20, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', Decimal('5.94')),
 (3, 8, datetime.datetime(2009, 1, 3, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', Decimal('5.94')),
 (381, 54, datetime.datetime(2013, 8, 4, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '110 Raeburn Pl', 'Edinburgh ', None, 'United Kingdom', 'EH4 1HH', Decimal('5.94')),
 (38, 21, datetime.datetime(2009, 6, 7, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', Decimal('5.94')),
 (199, 10, datetime.datetime(2011, 5, 21, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', Decimal('5.94')),
 (59, 17, datetime.datetime(2009, 9, 8, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', Decimal('5.94')),
 (367, 37, datetime.datetime(2013, 6, 3, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Berger Straße 10', 'Frankfurt', None, 'Germany', '60316', Decimal('5.94')),
 (227, 44, datetime.datetime(2011, 9, 22, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Porthaninkatu 9', 'Helsinki', None, 'Finland', '00530', Decimal('5.94')),
 (178, 14, datetime.datetime(2011, 2, 17, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', Decimal('5.94')),
 (304, 49, datetime.datetime(2012, 8, 28, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Ordynacka 10', 'Warsaw', None, 'Poland', '00-358', Decimal('5.94')),
 (108, 47, datetime.datetime(2010, 4, 13, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', Decimal('5.94')),
 (395, 12, datetime.datetime(2013, 10, 5, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', Decimal('5.94')),
 (150, 39, datetime.datetime(2010, 10, 16, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '4, Rue Milton', 'Paris', None, 'France', '75009', Decimal('5.94')),
 (122, 5, datetime.datetime(2010, 6, 14, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', Decimal('5.94')),
 (164, 56, datetime.datetime(2010, 12, 17, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '307 Macacha Güemes', 'Buenos Aires', None, 'Argentina', '1106', Decimal('5.94')),
 (248, 40, datetime.datetime(2011, 12, 24, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '8, Rue Hanovre', 'Paris', None, 'France', '75002', Decimal('5.94')),
 (157, 18, datetime.datetime(2010, 11, 16, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', Decimal('5.94')),
 (234, 23, datetime.datetime(2011, 10, 23, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '69 Salem Street', 'Boston', 'MA', 'USA', '2113', Decimal('5.94')),
 (17, 25, datetime.datetime(2009, 3, 6, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', Decimal('5.94')),
 (297, 11, datetime.datetime(2012, 7, 28, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', Decimal('5.94')),
 (87, 51, datetime.datetime(2010, 1, 10, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Celsiusg. 9', 'Stockholm', None, 'Sweden', '11230', Decimal('6.94')),
 (310, 24, datetime.datetime(2012, 9, 27, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', Decimal('7.96')),
 (205, 44, datetime.datetime(2011, 6, 20, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Porthaninkatu 9', 'Helsinki', None, 'Finland', '00530', Decimal('7.96')),
 (186, 58, datetime.datetime(2011, 3, 23, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '12,Community Centre', 'Delhi', None, 'India', '110017', Decimal('8.91')),
 (53, 44, datetime.datetime(2009, 8, 11, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Porthaninkatu 9', 'Helsinki', None, 'Finland', '00530', Decimal('8.91')),
 (172, 41, datetime.datetime(2011, 1, 20, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '11, Place Bellecour', 'Lyon', None, 'France', '69002', Decimal('8.91')),
 (11, 52, datetime.datetime(2009, 2, 6, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '202 Hoxton Street', 'London', None, 'United Kingdom', 'N1 5LH', Decimal('8.91')),
 (46, 6, datetime.datetime(2009, 7, 11, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', Decimal('8.91')),
 (39, 27, datetime.datetime(2009, 6, 10, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', Decimal('8.91')),
 (347, 47, datetime.datetime(2013, 3, 5, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', Decimal('8.91')),
 (144, 7, datetime.datetime(2010, 9, 18, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', Decimal('8.91')),
 (74, 40, datetime.datetime(2009, 11, 12, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '8, Rue Hanovre', 'Paris', None, 'France', '75002', Decimal('8.91')),
 (109, 53, datetime.datetime(2010, 4, 16, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '113 Lupus St', 'London', None, 'United Kingdom', 'SW1V 3EN', Decimal('8.91')),
 (4, 14, datetime.datetime(2009, 1, 6, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', Decimal('8.91')),
 (389, 39, datetime.datetime(2013, 9, 7, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '4, Rue Milton', 'Paris', None, 'France', '75009', Decimal('8.91')),
 (270, 42, datetime.datetime(2012, 3, 29, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '9, Place Louis Barthou', 'Bordeaux', None, 'France', '33000', Decimal('8.91')),
 (130, 49, datetime.datetime(2010, 7, 18, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Ordynacka 10', 'Warsaw', None, 'Poland', '00-358', Decimal('8.91')),
 (25, 10, datetime.datetime(2009, 4, 9, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', Decimal('8.91')),
 (179, 20, datetime.datetime(2011, 2, 20, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', Decimal('8.91')),
 (354, 26, datetime.datetime(2013, 4, 5, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', Decimal('8.91')),
 (158, 24, datetime.datetime(2010, 11, 19, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', Decimal('8.91')),
 (284, 59, datetime.datetime(2012, 5, 30, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '3,Raj Bhavan Road', 'Bangalore', None, 'India', '560001', Decimal('8.91')),
 (235, 29, datetime.datetime(2011, 10, 26, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '796 Dundas Street West', 'Toronto', 'ON', 'Canada', 'M6J 1V1', Decimal('8.91')),
 (326, 51, datetime.datetime(2012, 12, 2, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Celsiusg. 9', 'Stockholm', None, 'Sweden', '11230', Decimal('8.91')),
 (67, 2, datetime.datetime(2009, 10, 12, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', Decimal('8.91')),
 (116, 32, datetime.datetime(2010, 5, 17, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', Decimal('8.91')),
 (256, 25, datetime.datetime(2012, 1, 27, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', Decimal('8.91')),
 (214, 33, datetime.datetime(2011, 7, 25, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', Decimal('8.91')),
 (291, 38, datetime.datetime(2012, 6, 30, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Barbarossastraße 19', 'Berlin', None, 'Germany', '10779', Decimal('8.91')),
 (375, 22, datetime.datetime(2013, 7, 7, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', Decimal('8.91')),
 (81, 19, datetime.datetime(2009, 12, 13, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', Decimal('8.91')),
 (263, 4, datetime.datetime(2012, 2, 27, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', Decimal('8.91')),
 (123, 11, datetime.datetime(2010, 6, 17, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', Decimal('8.91')),
 (305, 55, datetime.datetime(2012, 8, 31, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', Decimal('8.91')),
 (18, 31, datetime.datetime(2009, 3, 9, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', Decimal('8.91')),
 (340, 9, datetime.datetime(2013, 2, 2, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', Decimal('8.91')),
 (396, 18, datetime.datetime(2013, 10, 8, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', Decimal('8.91')),
 (333, 30, datetime.datetime(2013, 1, 2, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', Decimal('8.91')),
 (277, 21, datetime.datetime(2012, 4, 29, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', Decimal('8.91')),
 (200, 16, datetime.datetime(2011, 5, 24, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', Decimal('8.91')),
 (403, 56, datetime.datetime(2013, 11, 8, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '307 Macacha Güemes', 'Buenos Aires', None, 'Argentina', '1106', Decimal('8.91')),
 (368, 43, datetime.datetime(2013, 6, 6, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '68, Rue Jouvence', 'Dijon', None, 'France', '21000', Decimal('8.91')),
 (242, 8, datetime.datetime(2011, 11, 26, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', Decimal('8.91')),
 (410, 35, datetime.datetime(2013, 12, 9, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', None, 'Portugal', None, Decimal('8.91')),
 (95, 36, datetime.datetime(2010, 2, 13, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Tauentzienstraße 8', 'Berlin', None, 'Germany', '10789', Decimal('8.91')),
 (319, 13, datetime.datetime(2012, 11, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', Decimal('8.91')),
 (361, 5, datetime.datetime(2013, 5, 6, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', Decimal('8.91')),
 (382, 1, datetime.datetime(2013, 8, 7, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', Decimal('8.91')),
 (151, 45, datetime.datetime(2010, 10, 19, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Erzsébet krt. 58.', 'Budapest', None, 'Hungary', 'H-1073', Decimal('8.91')),
 (60, 23, datetime.datetime(2009, 9, 11, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '69 Salem Street', 'Boston', 'MA', 'USA', '2113', Decimal('8.91')),

## The set of all customers from USA, subtracted by the set of all customers with an email ending in 'yahoo.com'

The query below gives us all customers from USA with an email not ending in 'yahoo.com'. It would be the same query for all customers where country is 'USA' "AND NOT IN" an email ending with 'yahoo.com'. AND NOT IN does not filter for distinct values though. That has to be added manually.

In [172]:
%%sql 
(SELECT * FROM chinook.customer WHERE country = 'USA') 
EXCEPT 
(SELECT * FROM chinook.customer where email LIKE '%yahoo.com')

11 rows affected.

[(21, 'Kathy', 'Chase', None, '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', '+1 (775) 223-7665', None, 'kachase@hotmail.com', 5),
 (22, 'Heather', 'Leacock', None, '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', '+1 (407) 999-7788', None, 'hleacock@gmail.com', 4),
 (16, 'Frank', 'Harris', 'Google Inc.', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', '+1 (650) 253-0000', '+1 (650) 253-0000', 'fharris@google.com', 4),
 (28, 'Julia', 'Barnett', None, '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', '+1 (801) 531-7272', None, 'jubarnett@gmail.com', 5),
 (19, 'Tim', 'Goyer', 'Apple Inc.', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', '+1 (408) 996-1010', '+1 (408) 996-1011', 'tgoyer@apple.com', 3),
 (18, 'Michelle', 'Brooks', None, '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', '+1 (212) 221-3546', '+1 (212) 221-4679', 'michelleb@aol.com', 3),
 (17, 'Jack', 'Smith', 'Microsoft Corporation', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', '+1 (425) 882-8080', '+1 (425) 882-8081', 'jacksmith@microsoft.com', 5),
 (26, 'Richard', 'Cunningham', None, '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', '+1 (817) 924-7272', None, 'ricunningham@hotmail.com', 4),
 (20, 'Dan', 'Miller', None, '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', '+1 (650) 644-3358', None, 'dmiller@comcast.com', 4),
 (27, 'Patrick', 'Gray', None, '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', '+1 (520) 622-4200', None, 'patrick.gray@aol.com', 4),
 (24, 'Frank', 'Ralston', None, '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', '+1 (312) 332-3232', None, 'fralston@gmail.com', 3)]

## The union of the set of all albums playing something by Mozart and the set of all albums playing something with Bach

The query below might look complex but it's really not. We simply just ask for the union of all tracks where the composer is either Mozart or Bach. We have to join the tables *album* and *track* in order to recieve the correct data. We could also simply look for albums with Back or Mozart in the title, but there are a few entries where the title of the album does not say their names but they are still the composer of that track. 
I have ordered the result by *composer* for readability.

In [174]:
%%sql
(SELECT chinook.album.*, chinook.track.composer
FROM chinook.album, chinook.track
WHERE album.albumid = track.albumid
AND track.composer LIKE '%Mozart')
union
(SELECT chinook.album.*, chinook.track.composer
FROM chinook.album, chinook.track
WHERE album.albumid = track.albumid
AND track.composer LIKE '%Bach')
ORDER BY composer

12 rows affected.

[(327, 'Bach: Orchestral Suites Nos. 1 - 4', 257, 'Johann Sebastian Bach'),
 (278, 'Bach: The Cello Suites', 212, 'Johann Sebastian Bach'),
 (276, 'Bach: Violin Concertos', 210, 'Johann Sebastian Bach'),
 (300, 'Bach: The Brandenburg Concertos', 234, 'Johann Sebastian Bach'),
 (277, 'Bach: Goldberg Variations', 211, 'Johann Sebastian Bach'),
 (335, 'J.S. Bach: Chaconne, Suite in E Minor, Partita in E Major & Prelude, Fugue and Allegro', 265, 'Johann Sebastian Bach'),
 (297, 'Bach: Toccata & Fugue in D Minor', 231, 'Johann Sebastian Bach'),
 (346, 'Mozart: Chamber Music', 274, 'Wolfgang Amadeus Mozart'),
 (317, 'Mozart Gala: Famous Arias', 249, 'Wolfgang Amadeus Mozart'),
 (282, 'Mozart: Wind Concertos', 216, 'Wolfgang Amadeus Mozart'),
 (320, 'Mozart: Symphonies Nos. 40 & 41', 248, 'Wolfgang Amadeus Mozart'),
 (281, 'Sir Neville Marriner: A Celebration', 215, 'Wolfgang Amadeus Mozart')]